<body class="gray-bg">


    <div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">Pagina não encontrada</h3>

        <div class="error-desc">
           Desculpe, mas a página que você está procurando não foi encontrada. Tente verificar a URL , em seguida, aperte o botão de atualização no seu navegador.
            <form class="form-inline m-t" role="form">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Procurar página">
                </div>
                <button type="submit" class="btn btn-primary">Procurar</button>
            </form>
        </div>
    </div>

</body>